@font-face {
  font-family: "Emoji";
  src: url("./iOS16_u14_unofficial.ttf");
}
body {
  width: 100%;
  max-width: 1200px;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
}
#text {
  font-size: 20px;
  font-family: "Emoji", sans-serif;
}
.btn {
  font-family: "Emoji";
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 30%;
  outline: none;
  border: none;
  font-size: 25px;
  user-select: none;
}
.btn:hover {
  background: rgba(0, 0, 0, 0.09);
}
input {
  width: 400px;
  height: 50px;
  padding: 0 10px;
  border-radius: 10px;
  border: 1px solid black;
  font-family: "Emoji", sans-serif;
  font-size: 25px;
  transition: 0.2s;
}
.wrap {
  width: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  background: #eee;
  border-radius: 10px;
  height: 0;
  overflow: hidden;
  transition: 0.3s ease-in;
}
.wrap.active {
  width: 400px;
  padding: 20px 0;
  height: 110px;
  transition: 0.3s ease-in;
}

.emoji {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 1%;
  top: 55%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  overflow: none;
  cursor: pointer;
}
.inputWrap {
  position: relative;
}
.firstEmoji.active {
  display: none;
}
.secondEmoji.active {
  display: block;
}
.secondEmoji {
  display: none;
}
